body {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 300;
  fill: #242424;
  text-align: center;
  /* text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff; */
  cursor: default;
}

.legend {
  font-family: "Raleway", sans-serif;
  fill: white;
}

.tooltip {
  fill: white;
}

.radarChart {
  background-color: #0e599d;
  color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.53);
}

.radarInvisibleCircle {
  fill: white !important;
}
